In [ ]:
# hide
%load_ext autoreload
%autoreload 2

In [ ]:
# default_exp data

# Ingest and prepare data

We ingest the data and prepare it for feature engineering, by doing initial checks and

In [ ]:
#hide
import matplotlib.pyplot as plt
from nbdev.showdoc import *

In [ ]:
#export
import pandas as pd
import os

from zipfile import ZipFile
from nbdev.showdoc import *

In [ ]:
#export
def get_liverpool_ion_data():

    '''
    Gets data from Kaggle competition "University of Liverpool - Ion Switching Identify the number of channels open at each time point", 
    URL: https://www.kaggle.com/c/liverpool-ion-switching/data

    This competition deals with time-step-wise segmentation.
    
    Requironments:
    -----------------------------------------------------------------
    Your kaggle API token has to be set up.
    
    
    Output:
    -----------------------------------------------------------------
    3 data frames:
    df_train: training data for the competition
    df_test: test data for competition submission
    df_sample: the kaggle submission sample format
    
    '''
    
    original_path = os.getcwd()
    
    try:
        os.mkdir(original_path + '\\data')
    except:
        print("data folder already exists")
        
    os.chdir(original_path+'\\data')
    
    
    # get the data from kaggel
    try:
        kaggle_data = os.popen('kaggle competitions download -c liverpool-ion-switching')
        kaggle_data.read()
    except:
        print('Is your kaggle API authentication set up correctly?')
    
    with ZipFile('liverpool-ion-switching.zip', 'r') as zipObj:
       # Extract all the data from kaggle in to corresponding folder
       zipObj.extractall("liverpool-ion-switching")
    
    os.chdir("../data/liverpool-ion-switching")
       
    df_train = pd.read_csv('train.csv')
    df_test = pd.read_csv('test.csv')
    df_sample = pd.read_csv('sample_submission.csv')
    os.chdir(original_path)
    
    return df_train, df_test, df_sample

In [ ]:
df_train, df_test, df_sample = get_liverpool_ion_data()

data folder already exists

In [ ]:
df_train

             time  signal  open_channels
0          0.0001 -2.7600              0
1          0.0002 -2.8557              0
2          0.0003 -2.4074              0
3          0.0004 -3.1404              0
4          0.0005 -3.1525              0
...           ...     ...            ...
4999995  499.9996  2.9194              7
4999996  499.9997  2.6980              7
4999997  499.9998  4.5164              8
4999998  499.9999  5.6397              9
4999999  500.0000  5.3792              9

[5000000 rows x 3 columns]

In [ ]:
# hide
from nbdev.export import notebook2script
notebook2script()

Converted 00_data.ipynb.
Converted index.ipynb.