In [ ]:
# hide
%load_ext autoreload
%autoreload 2

In [ ]:
#hide
from time_series_segmentation.ingest_data import *

# Time series segmentation

> Univariate and multivariate time series segmentation. Including example data sets.

This file will become your README and also the index of your documentation.

## Install

`pip install your_project_name`

## How to use

Fill me in please! Don't forget code examples:

In [ ]:
df_train, df_test, df_sample_submission = get_liverpool_ion_data()

data folder already exists

In [ ]:
df_train

             time  signal  open_channels
0          0.0001 -2.7600              0
1          0.0002 -2.8557              0
2          0.0003 -2.4074              0
3          0.0004 -3.1404              0
4          0.0005 -3.1525              0
...           ...     ...            ...
4999995  499.9996  2.9194              7
4999996  499.9997  2.6980              7
4999997  499.9998  4.5164              8
4999998  499.9999  5.6397              9
4999999  500.0000  5.3792              9

[5000000 rows x 3 columns]

In [ ]:
# hide
from nbdev.export import notebook2script
notebook2script()

Converted 00_data.ipynb.
Converted index.ipynb.